@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.projeler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-top: 60px;
    background-color: rgb(244, 244, 244);
}

.projeler h5 {
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 80px;
}

.proje-container {
    display: flex;
}

.proje {
    margin: 0 40px;
    background-color: #fff;
    border-radius: 8px;
}

.proje .proje-link {
    position: relative;
    display: inline-block;
}

.proje .proje-img {
    width: 450px;
    border-radius: 10px 10px 0 0;
}

.proje .proje-caption {
    margin: 20px 0;
    
}

.proje .proje-caption p {
    text-align: center;
    margin: 0;
}

.proje .proje-caption .proje-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.proje .proje-caption .proje-date {
    font-style: italic;
    color: #6d6d6d;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 164, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
}

.overlay img {
    width: 64px;
    filter: brightness(0) invert(1);
}

.proje .proje-link:hover .overlay {
    opacity: 1;
}

@media screen and (max-width: 1615px) {
    .proje .proje-img {
        width: 300px;
    }
}

@media screen and (max-width: 1160px) {
    .projeler h5 {
        margin-bottom: 60px;
    }
    .proje-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .proje {
        margin: 0 0 60px 0;
    }

    .proje .proje-img {
        width: 450px;
    }
}

@media screen and (max-width: 800px) {
    .proje .proje-img {
        width: 300px;
    }

    .projeler h5 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .proje .proje-img {
        width: 250px;
    }
}