.hero {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    background: #000000;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652)), url('../../images/elektrik.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.652), rgba(0, 0, 0, 0.652)), url('../../images/elektrik.jpg') no-repeat; 
    background-size: cover;
  }
