@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.hizmetler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
    margin-bottom: 20px;
}

.hizmetler h5 {
    font-weight: 700;
    font-size: 2rem;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.hizmetler p {
     margin-top: 30px;
     text-align: center;
     padding: 0 15px;
    }

.hizmetler h5:after {
    content: "";
    position: absolute;
    display: block;
    width: 130px;
    height: 4px;
    background: #000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.hizmet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

@media screen and (max-width: 800px) {
    .hizmetler h5 {
        margin-bottom: 40px;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 400px) {
    .hizmetler p {
        font-size: 0.8rem;
    }
}