@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.hizmetler {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
}

.hizmetler h5 {
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.hizmetler h5:after {
    content: "";
    position: absolute;
    display: block;
    width: 130px;
    height: 4px;
    background: #525252;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.hizmet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.hizmet-cards .card {
    margin: 10px 30px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  
  
  
  