.card {
    display: block;
    margin: 5px 40px;
    width: 30%;
    text-align: center;
    padding: 60px 30px;
}

.card img {
    width: 100px;
    margin-bottom: 25px;
}

.card h6 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #444444;
    white-space: nowrap;
    margin-bottom: 15px;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.responsive-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 0;
    justify-content: center;
}

@media screen and (max-width: 1919px) {
    .card {
        margin: 0 30px;
    }  
}

@media screen and (max-width: 1510px) {
    .card {
        margin: 15px 60px;
    }   
}

@media screen and (max-width: 870px) {
    .responsive-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 15px 30px;
    }    
}

@media screen and (max-width: 600px) {
    .card img{
        width: 240px;
        height: 320px;
    }
}
