.card {
    display: block;
    margin: 10px 40px;
    width: 30%;
    text-align: center;
    padding: 60px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid gold;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.10);
}

.card img {
    width: 100px;
    margin-bottom: 25px;
}

.card h6 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #444444;
    white-space: nowrap;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.card:hover {
    box-shadow: 0px 0 30px rgba(112, 101, 1, 0.12)
}

.card:hover h6 {
    color: gold;
}

.responsive-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 0;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    .card {
        padding: 30px;
    }

    .card  h6{
        font-size: 1.3rem;
    }
    
    .card p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1100px) {
    .responsive-row {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .card {
        margin: 0 0 30px 0;
        width: 320px;
    }    
}

@media screen and (max-width: 360px) {
    .card {
        width: 230px;
        padding: 15px;
    }

    .card img {
        margin-bottom: 18px;
    }

    .card h6 {
        margin-bottom: 8px;
    }
}
