@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	padding: 0 2rem;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

header a {
	text-decoration: none;
}

.logo {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 1.5rem;
	color: gold;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	margin: 0 3rem;
	color: #ffffffad;
	transition: 0.3s;
}

nav a:hover {
	color: #fff;
}

nav a:after {
	transition: all ease-in-out .3s;
    background: none repeat scroll 0 0 gold;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

nav a:hover:after {
	width: 100%;
}

header .nav-btn {
	display: none;
	padding: 5px;
	background: transparent;
	border: none;
	outline: none;
	visibility: hidden;
	font-size: 1.8rem;
}

.hide {
	opacity: 0;
}

@media only screen and (max-width: 800px) {
	header {
		justify-content: space-between;
	}

	header .nav-btn {
		display: inline;
		visibility: visible;
	}

	header nav {
		position: fixed;
		top: -100vh;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		transition: 0.3s;
	}

	header .responsive_nav {
		transform: translateY(110vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: -5rem;
		right: 2rem;
	}

	nav a {
		font-size: 1rem;
	}
}