@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
    padding: 30px;
}

footer .links {
    display: flex;
}

footer .links a{
    display: block;
    width: 40px;
    margin: 0 20px;
}

footer .links img {
    width: 40px;
}

footer .links img:hover {
    opacity: 80%;
}

@media screen and (max-width:750px) {
    footer {
        flex-direction: column;
        padding: 20px;
    }

    footer .info {
        padding-bottom: 20px;
    }
}