.iletisim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    padding-top: 60px;
}

.iletisim h5 {
    font-weight: 700;
    font-size: 2.2rem;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.iletisim h5:after {
    content: "";
    position: absolute;
    display: block;
    width: 85px;
    height: 4px;
    background: #000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.iletisim-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.iletisim-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 0 50px;
}

.iletisim-card h6 {
    font-size: 1.5rem;
    font-weight: 600;
}

.iletisim-card p {
    font-style: italic;
    font-size: 16px;
}

.iletisim-card img {
    width: 120px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1080px) {
    .iletisim-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .iletisim-card {
        margin: 0 0 30px 0;
    }

    .iletisim h5 {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 350px) {
    .iletisim h5 {
        font-size: 1.8rem;
    }

    .iletisim-card img {
        width: 100px;
    }

    .iletisim-card h6 {
        font-size: 1.2rem;
    }

    .iletisim-card p {
        font-size: 14px;
    }
}